# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_BESOM_LEFT
	def_bool $(shields_list_contains,besom_left)

config SHIELD_BESOM_RIGHT
	def_bool $(shields_list_contains,besom_right)
